body {
  margin: 0px;
}
/* Styling for the content container */
.header {
  font-size: 24px; /* Update with desired font size */
  background-color: blue;
  color: white;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 80px;
}

.url-info-container {
  display: flex;
  align-items: center;
}

.url-counter {
  margin-right: 16px;
}

.url-link {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.content-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  /* Styling for the swipeable container */
  .swipeable-container {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  /* Styling for the swipeable items */
  .swipeable-item {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
  }
  
  /* Styling for the URL counter */
  .url-counter {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    color: #fff;
    font-size: 16px;
  }
  
  /* iFrame styles */
.iframe {
  position: absolute;
  /* top: 64px; */ /* Add margin to avoid overlap with header */
  top: 0px;
  left: 0;
  width: 100%;
  height: calc(100vh - 60px); /* calc(100vh - 64px); */ /* Adjust height to fill remaining viewport height */
  border: none;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2; /* Ensure the overlay is above the iframe */
  background-color: transparent; /* Set the overlay background to transparent */
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  height: 80px; /* Updated height */
  padding: 20px;
  text-align: center;
  z-index: 100;
  display: flex; /* Added display: flex to align buttons */
  justify-content: center; /* Added justify-content: center to center align buttons horizontally */
  align-items: center; /* Added align-items: center to center align buttons vertically */
}

.footer-button {
  font-size: 24px; /* Updated font size */
  background-color: #007bff; /* Added background color */
  color: #fff;
  border: none;
  padding: 10px 20px; /* Added padding for better button appearance */
  margin: 0 10px; /* Added margin for spacing between buttons */
  cursor: pointer;
  border-radius: 5px; /* Added border radius for rounded corners */
  flex-grow: 1; /* Added flex-grow: 1 to make buttons equally sized */
}

.footer-button:hover {
  background-color: #0056b3; /* Added hover effect on button */
}